<%= render @article %>

<div class="button-group">
  <% if user_signed_in? %>
    <% if @article.user == current_user %> <!-- Solo el creador puede ver estos botones en su color normal -->
      <%= button_to "Edit this article", edit_article_path(@article), method: :get, class: "btn btn-primary" %>
      <%= button_to "Destroy this article", @article, method: :delete, class: "btn btn-danger" %>
      <% if @article.publication_state == 'draft' %>
        <%= button_to "Publish this article", publish_article_path(@article), method: :patch, class: "btn btn-success" %>
      <% else %>
        <%= button_to "Unpublish this article", unpublish_article_path(@article), method: :patch, class: "btn btn-warning" %>
      <% end %>
    <% else %>
      <!-- Los botones de editar y destruir se vuelven grises si el usuario no es el creador -->
      <%= button_to "Edit this article", edit_article_path(@article), method: :get, class: "btn btn-disabled" %>
      <%= button_to "Destroy this article", @article, method: :delete, class: "btn btn-disabled" %>
      <% if @article.publication_state == 'draft' %>
        <%= button_to "Publish this article", publish_article_path(@article), method: :patch, class: "btn btn-disabled" %>
      <% else %>
        <%= button_to "Unpublish this article", unpublish_article_path(@article), method: :patch, class: "btn btn-disabled" %>
      <% end %>
    <% end %>
  <% end %>
  
  <%= button_to "Volver al listado de artículos", articles_path, method: :get, class: "btn btn-secondary" %>
  
</div>

<!-- Separador visual -->
<hr class="my-4">

<h4> Comentarios: </h4>
<div class="comments-container">
  <%= render @article.comments %>
</div>  

<h4>Agregar un comentario:</h4>
<%= render "comments/form", article: @article %>
